.slidur__start-btn {
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #1a7c4e;
  background: #1bb76e;
  box-shadow: 0 3px #1a7c4e, inset 1px 1px rgba(255, 255, 255, 0.25);
  transition: all 0.3s;
  color: white;
  width: 200px;
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}

.slidur__icon {
  width: 20px;
  padding-right: 10px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}
.slidur__icon--play {
  width: 20px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.slidur__icon--interval {
  width: 20px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  padding-right: 10px;
}

.slidur__start-btn:hover {
  background: #18a563;
  box-shadow: 0 2px #1a7c4e, inset 1px 1px rgba(255, 255, 255, 0.25);
  transform: translateY(1px);
}

.slidur__bg {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Condensed";
  padding-top: 10px;
}

.slidur__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /*   flex-wrap: wrap; */
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding-top: 10px;
}

.slidur__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
}

.slidur__current-img {
  display: block;
  width: auto;
  height: auto;
  max-width: calc(100% - 200px);
  max-height: calc(100vh - 50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.4s;
}

.slidur__control {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
  max-height: calc(100% - 50px);
  background: transparent;
  align-self: stretch;
}

.slidur__control--back:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

.slidur__control--next:hover {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

.slidur__control--hidden {
  display: none;
}

.slidur__arrow-icon {
  width: 50px;
  opacity: 0.75;
}

.slidur__control:hover .slidur__arrow-icon {
  opacity: 1;
  filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.35));
}

.slidur__progress-wrapper {
  position: absolute;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
}

.slidur__progress {
  height: 10px;
  background: #16a0db;
  width: 0%;
}

.slidur__actions {
  height: 70px;
  position: absolute;
  width: calc(100% - 200px);
  bottom: -70px;
  left: 100px;
  display: flex;
  align-items: center;
}

/* .slidur__button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0d76bd;
  background: #16a0db;
  box-shadow: 0 3px #002b54, inset 1px 1px rgba(255, 255, 255, 0.25);
  transition: all 0.3s;
  color: white;
  width: 200px;
  font-family: "Open Sans Condensed";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
} */

.slidur__play {
  padding: 10px;
  border: 1px solid #0d76bd;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.25);
  transition: all 0.3s;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-family: "Open Sans Condensed";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.slidur__play:hover {
  opacity: 1;
  background: radial-gradient(circle at center, #16a0db 0%, #0d76bd 100%);
}

.slidur__interval-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slidur__change-interval {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 7px;
  height: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s;
  cursor: pointer;
  font-size: 16px;
  background: none;
}

.slidur__change-interval:hover {
  color: rgba(255, 255, 255, 1);
}

.slidur__interval-wrapper--open .slidur__change-interval {
  /* background: linear-gradient(to bottom, #16a0db 0%, #0d76bd 100%); */
  background: #16a0db;
}

.slidur__interval-popup {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: -12px;
  transform: translate(-30%, -100%);
  background: white;
  border-radius: 5px;
  width: 220px;
  height: 120px;
  padding: 15px;
  transition: opacity 0.4s;
  font-family: "Open Sans Condensed";
}

.slidur__interval-popup::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 7.5px 0 7.5px;
  border-color: #fff transparent transparent transparent;
}

.slidur__interval-wrapper--open .slidur__interval-popup {
  display: block;
  opacity: 1;
}

.slidur__interval-text {
  color: #666;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.slidur__interval-text strong {
  color: #333;
}

.slidur__interval-input {
  background-color: #ddd !important;
  color: #555 !important;
  font-size: 14px !important;
  width: 190px;
  display: block;
  margin: auto;
  border-radius: 3px;
}

.slidur__popup-buttons {
  display: flex;
  justify-content: center;
}

.slidur__popup-btn {
  color: white;
  font-family: "Open Sans Condensed";
  font-size: 14px;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 4px;
}

.slidur__popup-btn--confirm {
  background: #1bb76e;
  box-shadow: 0 2px #1a7c4e;
  border: none;
  margin-right: 15px;
}

.slidur__popup-btn--confirm:hover {
  background: #18a563;
  box-shadow: 0 2px #1a7c4e;
  transform: translateY(1px);
}

.slidur__popup-btn--cancel {
  background: #e85353;
  box-shadow: 0 2px #943838;
  border: none;
}

.slidur__popup-btn--cancel:hover {
  background: #c74e4e;
  box-shadow: 0 2px #943838;
  transform: translateY(1px);
}

.slidur__button:hover {
  background: #1982af;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.25);
}

.slidur__close {
  position: absolute;
  top: -35px;
  right: 100px;
  border-radius: 50%;
  /* background: #16a0db; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5em;
  cursor: pointer;
  z-index: 10;
}
